/*CSS Reset*/
:root {
  --header-footer: #598ed4;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Chivo Mono', monospace;
  line-height: 1.5;
}
  
h1 {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Chivo Mono', monospace;
}
  
p {
  margin: 0;
  font-family: 'Chivo Mono', monospace;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Chivo Mono', monospace;
}

a:visited { text-decoration: none; color: white; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:black }

/* Header/Nav */

header {
  display: flex; 
  padding: 10px;
  background-color: var(--header-footer);
}

header h1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-family: 'Rubik Vinyl', cursive;
}

h1 span {
  color: white;
}

nav {
  display: inline-block;
  position: absolute;
  right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 17px 10px;
  padding: 0;
  text-decoration: none;
}

nav li {
  padding: 8px 20px;
  font-weight: bold;
  color: black;
}

/* Hero */

.Hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../Images/op2.jpg");  background-size: cover;
  background-position: center;
  border-top: 5px solid black ;
  border-bottom: 5px solid black ;
}

#headline {
  border: 5px solid #000000;
  border-radius: 10%;
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  left: 10%;
  top: 35%;
  padding: 25px;
  max-width: 550px;
  max-height: 700px;
  width: 400px;
  z-index: 100 ;
}


#headline h2, h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#headline p {
  text-align: center;
}

a img {
  display: inline-flex;
  height: 50px;
  width: 50px;
  margin: 15px 28px;
}

/* About Me */

body {
  background-color: #edf6f9;
}

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#about p {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

/* Portfolio Grid */

#portfolioGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 150px 150px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "proj1 proj1"
  "proj2 proj3"
  "proj4 proj5";
}

#proj1 {
  background-image: url("../Images/QGame.jpg");
  grid-area: proj1;
  opacity: .75;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#proj1:hover {
  background-image: url("../Images/QGame.jpg");
  grid-area: proj1;
  opacity: 1;
}

#proj2 {
  background-image: url("../Images/budget.jpg");
  grid-area: proj2;
  opacity: .75;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#proj2:hover {
  background-image: url("../Images/budget.jpg");
  grid-area: proj2;
  opacity: 1;
}

#proj3 {
  background-image: url("../Images/code.jpg");
  grid-area: proj3;
  opacity: .75;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#proj3:hover {
  background-image: url("../Images/code.jpg");
  grid-area: proj3;
  opacity: 1;
}

#proj4 {
  background-image: url("../Images/ColourGame.jpg");
  grid-area: proj4;
  opacity: .75;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#proj4:hover {
  background-image: url("../Images/ColourGame.jpg");
  grid-area: proj4;
  opacity: 1;
}

#proj5 {
  background-image: url("../Images/run.jpg");
  grid-area: proj5;
  opacity: .75;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#proj5:hover {
  background-image: url("../Images/run.jpg");
  grid-area: proj5;
  opacity: 1;
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid var(--header-footer);
  font-family: 'Chivo Mono', monospace;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  padding: 5px;
  background-color: var(--header-footer);
}

/* Responsive */

@media only screen and (max-width: 600px) {
  header h1 {
    font-family: 'Chivo Mono', monospace;
    font-size: large;
  }

  .navBar {
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    margin: 0.8em 0;
  }

  .Hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/op2.jpg");  background-size: cover;
    background-position: center;
    border-top: 5px solid black ;
    border-bottom: 5px solid black ;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #headline {
    padding: 20px;
    top: 30%;
    max-width: 350px;
    max-height: 350px;
    width: 350px;
    z-index: 100 ;
  }

  #headline h2, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
 
  a img {
    display: inline-flex;
    height: 40px;
    width: 40px;
    margin: 10px 20px;
  }
}

