/*CSS Reset*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
  
h1 {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Chivo Mono', monospace;
}
  
p {
  margin: 0;
  font-family: 'Chivo Mono', monospace;
}

a {
  text-decoration: none;
  font-family: 'Chivo Mono', monospace;
}

a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:white }

/* Header */

header {
  display: flex; 
  padding: 10px;
  background-color: #3474c8;
}

header h1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-family: 'Rubik Vinyl', cursive;
}

h1 span {
  color: white;
}

nav {
  display: inline-block;
  position: absolute;
  right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 17px 10px;
  padding: 0;
  text-decoration: none;
}

nav li {
  padding: 8px 20px;
  font-weight: bold;
  color: black;
}

/* Hero */

.Hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../Images/hero.jpg");  background-size: cover;
  background-position: center;
  border-top: 5px solid black ;
  border-bottom: 5px solid black ;
}

#headline {
  border: 5px solid #000000;
  border-radius: 10%;
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  left: 50%;
  top: 42.5%;
  padding: 25px;
  max-width: 550px;
  width: 400px;
  z-index: 100 ;
}


#headline h2, h3, p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

a img {
  display: inline-flex;
  height: 50px;
  width: 50px;
  margin: 15px 30px;
}

/* Body */

body {
  background-color: #edf6f9;
}

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#portfolioGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 150px 150px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "proj1 proj1"
  "proj2 proj3"
  "proj4 proj5";
}

#proj1 {
  background-image: url("../Images/QGame.jpg");
  grid-area: proj1;
}

#proj2 {
  background-image: url("../Images/budget.jpg");
  grid-area: proj2;
}

#proj3 {
  background-image: url("../Images/code.jpg");
  grid-area: proj3;
}

#proj4 {
  background-image: url("../Images/ColourGame.jpg");
  grid-area: proj4;
}

#proj5 {
  background-image: url("../Images/run.jpg");
  grid-area: proj5;
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid lightskyblue;
  font-family: 'Chivo Mono', monospace;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  padding: 5px;
  background-color: lightskyblue;
}

/* RESPONSIVE
@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
*/