/*CSS Reset*/
* {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
  
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header */

header {
  display: flex; 
  padding: 10px;
  background-color: rgba(237,246,249.0.5);
}

header h1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

h1 span {
  color: red;
}

nav {
  display: inline-block;
  position: absolute;
  right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 17px 10px;
  padding: 0;
  text-decoration: none;
}

nav li {
  padding: 0 20px;
  font-weight: bold;
}

/* Hero */

.Hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../Images/hero.jpg");  background-size: cover;
  background-position: center;

}

#headline {
  border: 5px solid #000000;
  border-radius: 10%;
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 25px;
  max-width: 550px;
  width: 400px;
  z-index: 100 ;
}

#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}

#headline h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#headline h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

a img {
  display: inline-flex;
  height: 50px;
  width: 50px;
  margin: 10px 30px;
}

/* Body */

body {
  background-color: #edf6f9;
}

.about  {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
}

.largeBox {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
}

.smallBox  {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #83c5be;
}

